{% extends "layout.html" %}

{% block title %}
    Scores
{% endblock %}

{% block head %}
    MY SCORES
{% endblock %}

{% block main %}
    <table class="my-table-scores">
        <thead>
            <tr>
                <th> Name </th>
                {% for key in myscores[0] %}
                    <th>{{ key }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if myscores == [] %}
                    <td colspan="{{ myscores[0]|length + 1 }}"> {{ name}}, you don't have any score yet!</td>
                {% else %}
                    <td rowspan="{{ num_rows + 1 }}"> {{ name }}</td>
                    {% for row in myscores %}
                        <tr>
                            {% for key in row %}
                                <td>{{ row[key] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}
